.navbar {
  background-color: black;
  .container-navbar {
    display: flex;
    margin: 0 2rem;
    width: 100%;
    height: 50px;
    &-logo {
      flex: 1;
      display: flex;
      align-items: center;
       a {
        font-size: 30px;
        color: #4dbf00;
        text-decoration: none;
        font-weight: 600;
      }
    }

    &-link {
      flex: 3;
      display: flex;
      align-items: center;
      &-links {
          gap: 20px;
          display: flex;
        a {
          color: #fff;
          text-decoration: none;
        }
      }
    }
    &-user {
      flex: 1;
      align-items: center;
      display: flex;
      &-info { 
          display:flex;
          color:#fff;
          align-items: center;
          gap:20px;
          img { 
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
        }
        .navbar-profile { 
          position: relative;
          span { 
            cursor: pointer;
          }
          &-list { 
            position: absolute;
            z-index: 1;
            background: black;
            padding: 1rem;
            margin-top : 1rem;
            display: flex;
              gap:20px;
              flex-direction: column;
            li { 
              list-style: none;
              
              a { 
                text-decoration: none;
                color: #fff;
                
                &:hover { 
                  opacity: 0.8;
                }
              }
              
            }
          }
        }
      }
      
    }
  }
}

.unactive { 
  display : none;
}